################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp/.vs/WinFormsApp
/WinFormsApp/WinFormsApp/obj
/WinFormsApp/WinFormsApp/bin/Debug/net6.0-windows
